<?xml version="1.0" encoding="utf-8"?>
<form>
	<config>         
		<inlinehelp button="show"/>     
	</config>
     <fieldset name="section">
		<field name="event" type="calendar" default="NOW" label="COM_CGRESA_EVENT" description=""
			class="input-small" required="true" filter="user_utc"
			showtime="false" todaybutton="false" filltable="false" translateformat="true" />	 
		<field name="event_lib" type="text" default="" label="COM_CGRESA_EVENT_LIB" description="COM_CGRESA_EVENT_LIB_DESC" size="50">
		</field>
		<field name="ouv" type="text" default="19:00" label="COM_CGRESA_OPENING_LABEL" description="COM_CGRESA_OPENING_DESC" size="5">
		</field>
		<field name="ferm" type="text" default="23:45" label="COM_CGRESA_CLOSING_LABEL" description="COM_CGRESA_CLOSING_DESC" size="5">
		</field>
		<field name="comment" type="textarea" default="" label="COM_CGRESA_COMMENT_LABEL" description="COM_CGRESA_COMMENT_DESC" rows="2" cols="100"  >
		</field>
		<field name="color" type="color" default="#fff" label="COM_CGRESA_COLOR_LABEL" description="COM_CGRESA_COLOR_DESC" >
		</field>
		
	</fieldset>
</form>